In [1]:
# Importing libraries
from pyspark.sql import SparkSession
import os

In [2]:
os.environ['JAVA_HOME'] = "C:\Program Files\Java\jdk-11"

In [3]:
#SparkSession
spark = SparkSession.builder \
    .appName("LinearRegressionExample") \
    .getOrCreate()

In [4]:
nasa = spark.read.csv("nasa.csv", header=True, inferSchema=True)

In [5]:
nasa.show(10)

+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+----+---------+---------+--------+--------+----------+----------+---------+--------+----------+---------+-------+---------+--------+---+--------+---------+--------+---------+---------+--------+---------+---------+----+----+-----+---+---+---+----+----+----+
| year|month|day|              td_ge|     dt|luna_num|saros|eclipse_type|   gamma|magnitude|lat_ge|lng_ge|lat_dd_ge| lng_dd_ge|sun_alt|sun_azm|path_width|central_duration|duration_secs|cat_no|canon_plate|julian_date|  t0|       x0|       x1|      x2|      x3|        y0|        y1|       y2|      y3|        d0|       d1|     d2|      mu0|     mu1|mu2|     l10|      l11|     l12|      l20|      l21|     l22|   tan_f1|   tan_f2|tmin|tmax|etype|PNS|UNS|NCN|nSer|nSeq|nJLE|
+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+----+---------+---------+--------+--------+----------+----------+---------+--------+----------+---------+-------+---------+--------+---+--------+---------+--------+---------+---------+--------+---------+---------+----+----+-----+---+---+---+----+----+----+
|-1999|    6| 12|2024-04-12 03:14:51|46438.2|  -49456|    5|           T|-0.27009|  1.07329|  6.0N| 33.3W|  6.02745| -33.32629|   74.4|  343.7|     246.6|          06m37s|        397.2|   1.0|        1.0| 991085.635| 3.0|-0.056331|0.5538768| 5.31E-5|-9.21E-6| -0.300701| 0.1736208|-1.213E-4|-3.06E-6|  20.99164| 0.007689|-5.0E-6|228.29352|15.00077|0.0|0.531842| -4.34E-5|-1.27E-5|-0.014225| -4.31E-5|-1.26E-5|0.0046008|0.0045779|-3.0| 3.0|    1|  0|  0|  0|  73|  41|   4|
|-1999|   12|  5|2024-04-12 23:45:23|46426.5|  -49450|   10|           A|-0.23172|  0.93818| 32.9S| 10.8E|-32.92723|  10.79871|   76.4|   21.0|     235.9|          06m44s|        403.6|   2.0|        1.0|  991262.49| 0.0| 0.043712|0.4885594| 2.87E-5|-5.79E-6| -0.259994|-0.1676727| 1.395E-4| 2.14E-6|  -20.1502|-0.009273| 5.0E-6|181.68814| 14.9983|0.0|0.568868|  8.55E-5|-1.04E-5| 0.022617|  8.51E-5|-1.03E-5|0.0047561|0.0047324|-3.0| 3.0|    2|  0|  0|  0|  73|  27|  40|
|-1998|    6|  1|2024-04-12 18:09:16|46414.6|  -49444|   15|           T| 0.49936|  1.02844| 46.2N| 83.4E| 46.18256|   83.4201|   59.8|  151.0|     110.8|          02m15s|        134.7|   3.0|        1.0| 991440.256|18.0|-0.258369|0.5183236| 7.17E-5|-7.52E-6|  0.435825| 0.1982066|-1.304E-4|-3.06E-6| 18.615271| 0.010004|-4.0E-6| 93.28842|15.00199|0.0| 0.54254|-1.109E-4|-1.15E-5| -0.00358|-1.104E-4|-1.15E-5|0.0045957|0.0045728|-3.0| 3.0|    1|  1|  0|  0|  75|  32|  20|
|-1998|   11| 25|2024-04-12 05:57:03|46402.8|  -49438|   20|           A|-0.90454|  0.98056| 67.8S|143.8W|-67.80704|-143.81647|   24.8|   74.3|     162.4|          01m14s|         74.4|   4.0|        1.0| 991616.748| 6.0|-0.321467|0.5074449| 4.38E-5|-7.18E-6| -0.845923|-0.2103702| 1.553E-4| 3.14E-6|-17.231501|-0.011827| 4.0E-6|272.29285|14.99973|0.0|0.553583| 1.183E-4|-1.17E-5| 0.007408| 1.177E-4|-1.16E-5|0.0047605|0.0047368|-3.0| 3.0|    2| -1|  0|  0|  72|  17|  20|
|-1997|    4| 22|2024-04-12 13:19:56|46392.9|  -49433|  -13|           P|-1.46705|  0.16108| 60.6S|106.4W|-60.62912|-106.42572|    0.0|  281.1|       0.0|          00m00s|          0.0|   5.0|        1.0| 991765.056|13.0| 0.560719|0.4470306| -8.0E-7|-5.07E-6| -1.366238| 0.2468646|   3.2E-5|-2.95E-6|   5.41112| 0.015151|-1.0E-6| 15.49181|15.00551|0.0|   0.563| -5.52E-5| -9.8E-6| 0.016779| -5.49E-5| -9.8E-6|0.0045989| 0.004576|-3.0| 3.0|    4| -1| -1| -1|  73|  72|   1|
|-1997|    5| 22|2024-04-12 02:45:35|46390.9|  -49432|   25|           P| 1.32533|  0.40348| 61.7N|151.7W| 61.73908|-151.74512|    0.0|   55.4|       0.0|          00m00s|          0.0|   6.0|        1.0| 991794.615| 3.0|-0.421339|0.4778867| 6.98E-5| -5.8E-6|  1.262816| 0.2112998|-1.342E-4|-2.74E-6|  15.61239|  0.01198|-3.0E-6|227.92616| 15.0032|0.0| 0.55714|-1.021E-4|-1.03E-5| 0.010948|-1.016E-4|-1.02E-5|0.0045933|0.0045704|-3.0| 3.0|    4|  1|  1|  1|  71|   3|  10|
|-1997|   10| 16|2024-04-12 08:01:52|46381.1|  -49427|   -8|           P| 1.16687|  0.69542| 60.6N| 22.7W| 60.58538| -22.67322|    0.0|  265.1|       0.0|          00m00s|          0.0|   7.0|        1.0| 991941.835| 8.0| 0.555644|0.5082303|-2.58E-5|-8.54E-6|  1.026244|-0.2854968| -4.49E-5| 5.02E-6|  -2.39867|-0.016422| 1.0E-6|301.65366|15.00349|0.0|0.538202|   9.9E-6|-1.31E-5|-0.007896|   9.9E-6|-1.31E-5| 0.004751|0.0047274|-3.0| 3.0|    4|  1|  1|  1|  74|  59|   1|
|-1997|   11| 14|2024-04-12 18:48:49|46379.2|  -49426|   30|           P|-1.51826|  0.03768| 61.5S| 27.7W|-61.49854| -27.74097|    0.0|  120.0|       0.0|          00m00s|          0.0|   8.0|        1.0| 991971.284|19.0|-0.548859|0.5227729| 6.41E-5|-8.58E-6|-1.4196661|-0.2458772| 1.698E-4| 4.22E-6| -13.78474|-0.013789| 3.0E-6|107.52178|15.00111|0.0|0.541054|  5.55E-5|-1.29E-5|-0.005059|  5.53E-5|-1.29E-5|0.0047619|0.0047382|-3.0| 3.0|    4| -1| -1| -1|  83|   4|  10|
|-1996|    4| 10|2024-04-12 13:54:52|46369.3|  -49421|   -3|           A|-0.72306|   0.9464| 38.2S|167.2W|-38.21169|-167.24695|   43.5|  321.3|     277.1|          05m11s|        310.6|   9.0|        1.0|  992119.08|14.0|  0.39492|0.4415881|-1.76E-5|-4.92E-6| -0.607245| 0.2508265|  1.66E-5|-2.96E-6|   1.11457| 0.015546|    0.0| 29.26137|15.00569|0.0| 0.56486|  3.69E-5| -9.8E-6| 0.018629|  3.67E-5| -9.7E-6|0.0046061|0.0045831|-3.0| 3.0|    2| -1|  0|  0|  73|  62|   2|
|-1996|   10|  4|2024-04-12 23:23:37|46357.6|  -49415|    2|           T| 0.51655|  1.02568| 28.8N| 38.6E| 28.77621|  38.59772|   58.7|  214.0|     100.6|          02m04s|        124.4|  10.0|        1.0| 992296.475|23.0|  0.05924|0.4961126|  1.0E-6|-7.79E-6|  0.560075|-0.2809059| -4.63E-5| 4.61E-6|   1.97053|-0.016395|    0.0|166.04976|15.00362|0.0|0.543355| -7.69E-5|-1.25E-5|-0.002769| -7.65E-5|-1.25E-5|0.0047423|0.0047187|-3.0| 3.0|    1|  1|  0|  0|  73|  49|   2|
+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+----+---------+---------+--------+--------+----------+----------+---------+--------+----------+---------+-------+---------+--------+---+--------+---------+--------+---------+---------+--------+---------+---------+----+----+-----+---+---+---+----+----+----+
only showing top 10 rows

In [6]:
nasa.tail(10)

[Row(year=2996, month=7, day=6, td_ge=datetime.datetime(2024, 4, 12, 23, 44, 3), dt=4395.4, luna_num=12325, saros=162, eclipse_type='A', gamma=0.5013, magnitude=0.9508, lat_ge='51.6N', lng_ge='145.6W', lat_dd_ge=51.58156, lng_dd_ge=-145.64313, sun_alt=59.7, sun_azm=198.9, path_width=208.3, central_duration='04m44s', duration_secs=284.4, cat_no=11889.0, canon_plate=595.0, julian_date=2815514.489, t0=0.0, x0=0.242102, x1=0.4963752, x2=-4.63e-05, x3=-5.63e-06, y0=0.459302, y1=-0.1119435, y2=-0.0001537, y3=1.4e-06, d0=22.294821, d1=-0.004573, d2=-5e-06, mu0=178.18694, mu1=14.99965, mu2=0.0, l10=0.564323, l11=4.12e-05, l12=-9.8e-06, l20=0.018095, l21=4.1e-05, l22=-9.7e-06, tan_f1=0.0046035, tan_f2=0.0045806, tmin=-3.0, tmax=3.0, etype=2, PNS=1, UNS=0, NCN=0, nSer=70, nSeq=42, nJLE=2),
 Row(year=2996, month=12, day=31, td_ge=datetime.datetime(2024, 4, 12, 12, 58, 17), dt=4399.0, luna_num=12331, saros=167, eclipse_type='T', gamma=-0.1729, magnitude=1.02488, lat_ge='32.9S', lng_ge='6.2E', lat_dd_ge=-32.87291, lng_dd_ge=6.159, sun_alt=79.9, sun_azm=349.1, path_width=85.9, central_duration='02m14s', duration_secs=134.2, cat_no=11890.0, canon_plate=595.0, julian_date=2815692.04, t0=13.0, x0=0.046485, x1=0.5600933, x2=-1.9e-05, x3=-8.85e-06, y0=-0.167321, y1=0.1003281, y2=0.0001788, y3=-1.73e-06, d0=-22.901699, d1=0.003052, d2=6e-06, mu0=14.72686, mu1=14.99672, mu2=0.0, l10=0.544145, l11=-9.18e-05, l12=-1.25e-05, l20=-0.001983, l21=-9.14e-05, l22=-1.25e-05, tan_f1=0.0047484, tan_f2=0.0047248, tmin=-3.0, tmax=3.0, etype=1, PNS=0, UNS=0, NCN=0, nSer=72, nSeq=45, nJLE=4),
 Row(year=2997, month=6, day=26, td_ge=datetime.datetime(2024, 4, 12, 3, 41, 44), dt=4402.6, luna_num=12337, saros=172, eclipse_type='A', gamma=-0.27926, magnitude=0.9916, lat_ge='7.2N', lng_ge='141.9E', lat_dd_ge=7.16308, lng_dd_ge=141.93158, sun_alt=73.8, sun_azm=7.7, path_width=30.7, central_duration='01m00s', duration_secs=60.0, cat_no=11891.0, canon_plate=595.0, julian_date=2815868.654, t0=4.0, x0=0.120498, x1=0.5276196, x2=-4.31e-05, x3=-6.86e-06, y0=-0.299658, y1=-0.0765748, y2=-0.000138, y3=1.12e-06, d0=23.17857, d1=-0.001591, d2=-6e-06, mu0=238.71329, mu1=14.9991, mu2=0.0, l10=0.55292, l11=0.0001067, l12=-1.07e-05, l20=0.006749, l21=0.0001062, l22=-1.07e-05, tan_f1=0.0046079, tan_f2=0.0045849, tmin=-3.0, tmax=3.0, etype=2, PNS=0, UNS=0, NCN=0, nSer=70, nSeq=30, nJLE=20),
 Row(year=2997, month=12, day=20, td_ge=datetime.datetime(2024, 4, 12, 23, 45, 15), dt=4406.3, luna_num=12343, saros=177, eclipse_type='A', gamma=0.54486, magnitude=0.96965, lat_ge='9.6N', lng_ge='161.9W', lat_dd_ge=9.64094, lng_dd_ge=-161.90546, sun_alt=56.9, sun_azm=174.9, path_width=129.9, central_duration='03m40s', duration_secs=220.2, cat_no=11892.0, canon_plate=595.0, julian_date=2816046.49, t0=0.0, x0=0.079426, x1=0.5335091, x2=-7e-07, x3=-7.08e-06, y0=0.55492, y1=0.050953, y2=0.0001385, y3=-8e-07, d0=-23.309891, d1=-0.000284, d2=6e-06, mu0=180.99435, mu1=14.9965, mu2=0.0, l10=0.558675, l11=-0.0001237, l12=-1.11e-05, l20=0.012475, l21=-0.0001231, l22=-1.11e-05, tan_f1=0.0047428, tan_f2=0.0047191, tmin=-3.0, tmax=3.0, etype=2, PNS=1, UNS=0, NCN=0, nSer=69, nSeq=20, nJLE=20),
 Row(year=2998, month=6, day=15, td_ge=datetime.datetime(2024, 4, 12, 14, 49, 27), dt=4409.9, luna_num=12349, saros=182, eclipse_type='P', gamma=-1.01583, magnitude=0.97915, lat_ge='66.5S', lng_ge='32.5W', lat_dd_ge=-66.48648, lng_dd_ge=-32.54633, sun_alt=0.0, sun_azm=8.5, path_width=0.0, central_duration='00m00s', duration_secs=0.0, cat_no=11893.0, canon_plate=595.0, julian_date=2816223.118, t0=15.0, x0=0.033825, x1=0.5646655, x2=-2.61e-05, x3=-8.75e-06, y0=-1.020125, y1=-0.0364618, y2=-0.00011, y3=6.7e-07, d0=23.23859, d1=0.00141, d2=-6e-06, mu0=44.3317, mu1=14.99903, mu2=0.0, l10=0.538537, l11=9.4e-05, l12=-1.21e-05, l20=-0.007562, l21=9.35e-05, l22=-1.2e-05, tan_f1=0.004614, tan_f2=0.004591, tmin=-3.0, tmax=3.0, etype=4, PNS=-1, UNS=-1, NCN=-1, nSer=79, nSeq=18, nJLE=10),
 Row(year=2998, month=12, day=10, td_ge=datetime.datetime(2024, 4, 12, 3, 18, 31), dt=4413.6, luna_num=12355, saros=187, eclipse_type='P', gamma=1.28381, magnitude=0.47734, lat_ge='67.2N', lng_ge='145.0E', lat_dd_ge=67.19673, lng_dd_ge=145.04651, sun_alt=0.0, sun_azm=178.6, path_width=0.0, central_duration='00m00s', duration_secs=0.0, cat_no=11894.0, canon_plate=595.0, julian_date=2816400.638, t0=3.0, x0=-0.169986, x1=0.5080849, x2=1.29e-05, x3=-5.79e-06, y0=1.282151, y1=0.0051305, y2=9.93e-05, y3=-1.5e-07, d0=-22.79501, d1=-0.003692, d2=6e-06, mu0=227.25468, mu1=14.99694, mu2=0.0, l10=0.571577, l11=-5.15e-05, l12=-1e-05, l20=0.025312, l21=-5.13e-05, l22=-1e-05, tan_f1=0.0047345, tan_f2=0.0047109, tmin=-3.0, tmax=3.0, etype=4, PNS=1, UNS=1, NCN=1, nSer=70, nSeq=8, nJLE=10),
 Row(year=2999, month=5, day=6, td_ge=datetime.datetime(2024, 4, 12, 23, 23, 57), dt=4416.6, luna_num=12360, saros=154, eclipse_type='T', gamma=0.83884, magnitude=1.05659, lat_ge='71.5N', lng_ge='177.3E', lat_dd_ge=71.47646, lng_dd_ge=177.30988, sun_alt=32.6, sun_azm=146.0, path_width=345.2, central_duration='03m25s', duration_secs=205.1, cat_no=11895.0, canon_plate=595.0, julian_date=2816548.475, t0=23.0, x0=-0.385162, x1=0.5716263, x2=4.8e-05, x3=-9.65e-06, y0=0.780543, y1=0.108985, y2=-0.0001569, y3=-1.76e-06, d0=16.8146, d1=0.011214, d2=-4e-06, mu0=165.65242, mu1=15.00171, mu2=0.0, l10=0.533964, l11=-3.03e-05, l12=-1.28e-05, l20=-0.012113, l21=-3.01e-05, l22=-1.28e-05, tan_f1=0.0046543, tan_f2=0.0046311, tmin=-3.0, tmax=3.0, etype=1, PNS=1, UNS=0, NCN=0, nSer=71, nSeq=61, nJLE=2),
 Row(year=2999, month=10, day=30, td_ge=datetime.datetime(2024, 4, 12, 9, 34, 33), dt=4420.3, luna_num=12366, saros=159, eclipse_type='A-', gamma=-1.00228, magnitude=0.95864, lat_ge='70.9S', lng_ge='84.7W', lat_dd_ge=-70.88216, lng_dd_ge=-84.66797, sun_alt=0.0, sun_azm=137.0, path_width=0.0, central_duration='00m00s', duration_secs=0.0, cat_no=11896.0, canon_plate=595.0, julian_date=2816724.899, t0=10.0, x0=-0.017496, x1=0.5026742, x2=8.5e-06, x3=-6e-06, y0=-1.025757, y1=-0.1187555, y2=0.0001287, y3=1.34e-06, d0=-13.86067, d1=-0.01309, d2=3e-06, mu0=334.17798, mu1=15.00213, mu2=0.0, l10=0.565153, l11=8.31e-05, l12=-1.02e-05, l20=0.018921, l21=8.27e-05, l22=-1.02e-05, tan_f1=0.004687, tan_f2=0.0046636, tmin=-3.0, tmax=3.0, etype=2, PNS=-1, UNS=-1, NCN=-1, nSer=70, nSeq=49, nJLE=1),
 Row(year=3000, month=4, day=26, td_ge=datetime.datetime(2024, 4, 12, 14, 18, 6), dt=4424.0, luna_num=12372, saros=164, eclipse_type='T', gamma=0.13097, magnitude=1.02218, lat_ge='21.1N', lng_ge='18.4W', lat_dd_ge=21.08783, lng_dd_ge=-18.35913, sun_alt=82.3, sun_azm=166.3, path_width=76.2, central_duration='02m11s', duration_secs=130.8, cat_no=11897.0, canon_plate=595.0, julian_date=2816903.096, t0=14.0, x0=-0.194085, x1=0.5429646, x2=4.55e-05, x3=-8.1e-06, y0=0.088401, y1=0.1293669, y2=-8.52e-05, y3=-1.85e-06, d0=13.63886, d1=0.013071, d2=-3e-06, mu0=30.45574, mu1=15.00261, mu2=0.0, l10=0.544843, l11=-0.0001082, l12=-1.19e-05, l20=-0.001288, l21=-0.0001076, l22=-1.18e-05, tan_f1=0.0046683, tan_f2=0.004645, tmin=-3.0, tmax=3.0, etype=1, PNS=0, UNS=0, NCN=0, nSer=80, nSeq=51, nJLE=4),
 Row(year=3000, month=10, day=19, td_ge=datetime.datetime(2024, 4, 12, 16, 10, 16), dt=4427.6, luna_num=12378, saros=169, eclipse_type='H', gamma=-0.23027, magnitude=1.00485, lat_ge='23.1S', lng_ge='51.6W', lat_dd_ge=-23.09179, lng_dd_ge=-51.64557, sun_alt=76.5, sun_azm=16.3, path_width=17.3, central_duration='00m29s', duration_secs=29.3, cat_no=11898.0, canon_plate=595.0, julian_date=2817079.174, t0=16.0, x0=-0.151728, x1=0.5286833, x2=6.7e-06, x3=-7.5e-06, y0=-0.197019, y1=-0.1458451, y2=7.75e-05, y3=1.99e-06, d0=-10.13969, d1=-0.014406, d2=2e-06, mu0=63.76166, mu1=15.0035, mu2=0.0, l10=0.549335, l11=0.000127, l12=-1.15e-05, l20=0.003182, l21=0.0001263, l22=-1.14e-05, tan_f1=0.0046721, tan_f2=0.0046488, tmin=-3.0, tmax=3.0, etype=3, PNS=0, UNS=0, NCN=0, nSer=71, nSeq=38, nJLE=44)]

In [7]:
num_rows = nasa.count()
num_columns = len(nasa.columns)
print("Shape of the DataFrame: ({}, {})".format(num_rows, num_columns))

Shape of the DataFrame: (11898, 54)

In [8]:
nasa.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('day', 'int'),
 ('td_ge', 'timestamp'),
 ('dt', 'double'),
 ('luna_num', 'int'),
 ('saros', 'int'),
 ('eclipse_type', 'string'),
 ('gamma', 'double'),
 ('magnitude', 'double'),
 ('lat_ge', 'string'),
 ('lng_ge', 'string'),
 ('lat_dd_ge', 'double'),
 ('lng_dd_ge', 'double'),
 ('sun_alt', 'double'),
 ('sun_azm', 'double'),
 ('path_width', 'double'),
 ('central_duration', 'string'),
 ('duration_secs', 'double'),
 ('cat_no', 'double'),
 ('canon_plate', 'double'),
 ('julian_date', 'double'),
 ('t0', 'double'),
 ('x0', 'double'),
 ('x1', 'double'),
 ('x2', 'double'),
 ('x3', 'double'),
 ('y0', 'double'),
 ('y1', 'double'),
 ('y2', 'double'),
 ('y3', 'double'),
 ('d0', 'double'),
 ('d1', 'double'),
 ('d2', 'double'),
 ('mu0', 'double'),
 ('mu1', 'double'),
 ('mu2', 'double'),
 ('l10', 'double'),
 ('l11', 'double'),
 ('l12', 'double'),
 ('l20', 'double'),
 ('l21', 'double'),
 ('l22', 'double'),
 ('tan_f1', 'double'),
 ('tan_f2', 'double'),
 ('tmin', 'double'),
 ('tmax', 'double'),
 ('etype', 'int'),
 ('PNS', 'int'),
 ('UNS', 'int'),
 ('NCN', 'int'),
 ('nSer', 'int'),
 ('nSeq', 'int'),
 ('nJLE', 'int')]

In [9]:
from pyspark.sql.functions import col, count
missing_values = nasa.agg(*[count(col(c)).alias(c) for c in nasa.columns])
missing_values.show()

+-----+-----+-----+-----+-----+--------+-----+------------+-----+---------+------+------+---------+---------+-------+-------+----------+----------------+-------------+------+-----------+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| year|month|  day|td_ge|   dt|luna_num|saros|eclipse_type|gamma|magnitude|lat_ge|lng_ge|lat_dd_ge|lng_dd_ge|sun_alt|sun_azm|path_width|central_duration|duration_secs|cat_no|canon_plate|julian_date|   t0|   x0|   x1|   x2|   x3|   y0|   y1|   y2|   y3|   d0|   d1|   d2|  mu0|  mu1|  mu2|  l10|  l11|  l12|  l20|  l21|  l22|tan_f1|tan_f2| tmin| tmax|etype|  PNS|  UNS|  NCN| nSer| nSeq| nJLE|
+-----+-----+-----+-----+-----+--------+-----+------------+-----+---------+------+------+---------+---------+-------+-------+----------+----------------+-------------+------+-----------+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|11898|11898|11898|11898|11898|   11898|11898|       11898|11898|    11898| 11898| 11898|    11898|    11898|  11898|  11898|     11898|           11898|        11898| 11898|      11898|      11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|11898| 11898| 11898|11898|11898|11898|11898|11898|11898|11898|11898|11898|
+-----+-----+-----+-----+-----+--------+-----+------------+-----+---------+------+------+---------+---------+-------+-------+----------+----------------+-------------+------+-----------+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+

In [10]:
columns_to_drop = ['t0', 'x0', 'x1', 'x2', 'x3', 'y0', 'y1', 'y2', 'y3', 'd0', 
                   'd1', 'd2', 'mu0', 'mu1', 'mu2', 'l10', 'l11', 'l12', 'l20', 
                   'l21', 'l22', 'tan_f1', 'tan_f2', 'tmin', 'tmax', 'etype', 
                   'PNS', 'UNS', 'NCN', 'nSer', 'nSeq', 'nJLE']
nasa = nasa.drop(*columns_to_drop)

In [11]:
nasa.show()

+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+
| year|month|day|              td_ge|     dt|luna_num|saros|eclipse_type|   gamma|magnitude|lat_ge|lng_ge|lat_dd_ge| lng_dd_ge|sun_alt|sun_azm|path_width|central_duration|duration_secs|cat_no|canon_plate|julian_date|
+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+
|-1999|    6| 12|2024-04-12 03:14:51|46438.2|  -49456|    5|           T|-0.27009|  1.07329|  6.0N| 33.3W|  6.02745| -33.32629|   74.4|  343.7|     246.6|          06m37s|        397.2|   1.0|        1.0| 991085.635|
|-1999|   12|  5|2024-04-12 23:45:23|46426.5|  -49450|   10|           A|-0.23172|  0.93818| 32.9S| 10.8E|-32.92723|  10.79871|   76.4|   21.0|     235.9|          06m44s|        403.6|   2.0|        1.0|  991262.49|
|-1998|    6|  1|2024-04-12 18:09:16|46414.6|  -49444|   15|           T| 0.49936|  1.02844| 46.2N| 83.4E| 46.18256|   83.4201|   59.8|  151.0|     110.8|          02m15s|        134.7|   3.0|        1.0| 991440.256|
|-1998|   11| 25|2024-04-12 05:57:03|46402.8|  -49438|   20|           A|-0.90454|  0.98056| 67.8S|143.8W|-67.80704|-143.81647|   24.8|   74.3|     162.4|          01m14s|         74.4|   4.0|        1.0| 991616.748|
|-1997|    4| 22|2024-04-12 13:19:56|46392.9|  -49433|  -13|           P|-1.46705|  0.16108| 60.6S|106.4W|-60.62912|-106.42572|    0.0|  281.1|       0.0|          00m00s|          0.0|   5.0|        1.0| 991765.056|
|-1997|    5| 22|2024-04-12 02:45:35|46390.9|  -49432|   25|           P| 1.32533|  0.40348| 61.7N|151.7W| 61.73908|-151.74512|    0.0|   55.4|       0.0|          00m00s|          0.0|   6.0|        1.0| 991794.615|
|-1997|   10| 16|2024-04-12 08:01:52|46381.1|  -49427|   -8|           P| 1.16687|  0.69542| 60.6N| 22.7W| 60.58538| -22.67322|    0.0|  265.1|       0.0|          00m00s|          0.0|   7.0|        1.0| 991941.835|
|-1997|   11| 14|2024-04-12 18:48:49|46379.2|  -49426|   30|           P|-1.51826|  0.03768| 61.5S| 27.7W|-61.49854| -27.74097|    0.0|  120.0|       0.0|          00m00s|          0.0|   8.0|        1.0| 991971.284|
|-1996|    4| 10|2024-04-12 13:54:52|46369.3|  -49421|   -3|           A|-0.72306|   0.9464| 38.2S|167.2W|-38.21169|-167.24695|   43.5|  321.3|     277.1|          05m11s|        310.6|   9.0|        1.0|  992119.08|
|-1996|   10|  4|2024-04-12 23:23:37|46357.6|  -49415|    2|           T| 0.51655|  1.02568| 28.8N| 38.6E| 28.77621|  38.59772|   58.7|  214.0|     100.6|          02m04s|        124.4|  10.0|        1.0| 992296.475|
|-1995|    3| 30|2024-04-12 17:24:52|46345.8|  -49409|    7|           A| 0.06088|  0.98729|  0.2S|112.7E| -0.15099| 112.65961|   86.5|  150.6|      44.9|          01m17s|         77.0|  11.0|        1.0| 992473.226|
|-1995|    9| 24|2024-04-12 10:31:54|46334.0|  -49403|   12|           A|-0.18634|  0.97659|  3.1S|150.0W| -3.12017|-150.00092|   79.2|   28.6|      84.8|          02m22s|        141.9|  12.0|        1.0| 992650.939|
|-1994|    3| 20|2024-04-12 03:59:50|46322.2|  -49397|   17|           T| 0.80913|  1.03331| 39.4N| 73.3W| 39.37442| -73.29974|   35.7|  142.5|     186.3|          02m35s|        154.6|  13.0|        1.0| 992827.667|
|-1994|    9| 13|2024-04-12 14:32:00|46310.4|  -49391|   22|           A| -0.9265|   0.9249| 48.2S|116.1E|-48.16715| 116.11536|   21.7|   42.2|     732.6|          06m57s|        417.5|  14.0|        1.0| 993005.106|
|-1993|    2|  8|2024-04-12 11:41:40|46300.5|  -49386|  -11|           P|-1.06993|  0.88255| 62.7S| 23.1W|-62.69757| -23.05664|    0.0|  222.0|       0.0|          00m00s|          0.0|  15.0|        1.0| 993152.987|
|-1993|    3|  9|2024-04-12 19:48:09|46298.6|  -49385|   27|          Pb| 1.49071|  0.07542| 61.2N| 11.4E| 61.21449|  11.36194|    0.0|  113.7|       0.0|          00m00s|          0.0|  16.0|        1.0| 993182.325|
|-1993|    8|  3|2024-04-12 21:35:06|46288.8|  -49380|   -6|           P| 1.31162|  0.42918| 63.5N|166.7W| 63.48365|-166.65881|    0.0|  327.0|       0.0|          00m00s|          0.0|  17.0|        1.0| 993329.399|
|-1992|    1| 29|2024-04-12 02:34:14|46276.9|  -49374|   -1|           T|-0.38746|  1.01809| 44.1S| 13.3W|-44.06266| -13.33923|   67.0|  340.4|      67.1|          01m30s|         90.3|  18.0|        1.0| 993507.607|
|-1992|    7| 23|2024-04-12 04:03:17|46265.2|  -49368|    4|           H| 0.51819|  1.00587| 54.0N| 39.0W| 54.02417| -38.99939|   58.5|  196.9|      23.8|          00m29s|         28.6|  19.0|        1.0| 993683.669|
|-1991|    1| 17|2024-04-12 11:29:42|46253.4|  -49362|    9|           A| 0.34597|  0.95986|  3.5S|160.1W| -3.52616|-160.07642|   69.8|  170.1|     155.0|          05m03s|        303.0|  20.0|        1.0| 993861.979|
+-----+-----+---+-------------------+-------+--------+-----+------------+--------+---------+------+------+---------+----------+-------+-------+----------+----------------+-------------+------+-----------+-----------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import mean, stddev, col, abs as pyspark_abs

numeric_columns = [col_name for col_name, col_type in nasa.dtypes if col_type != 'string' and col_type != 'timestamp']

stats = nasa.select(*(mean(col(c)).alias(c + '_mean') for c in numeric_columns),
                    *(stddev(col(c)).alias(c + '_std') for c in numeric_columns)).collect()[0]

threshold = 3

z_score_exprs = [
    ((col(c) - stats[c + '_mean']) / stats[c + '_std']).alias(c + '_z_score')
    for c in numeric_columns
]

nasa_with_z_scores = nasa.select(*z_score_exprs)

filter_conditions = [
    pyspark_abs(col(c + '_z_score')) <= threshold
    for c in numeric_columns
]

combined_filter_condition = filter_conditions[0]
for condition in filter_conditions[1:]:
    combined_filter_condition = combined_filter_condition & condition

outliers_removed_nasa = nasa_with_z_scores.filter(
    combined_filter_condition
).drop(*[c + '_z_score' for c in numeric_columns])

outliers_removed_nasa.show()

++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
++
only showing top 20 rows

In [13]:
num_rows = nasa.count()
num_columns = len(nasa.columns)
print("Shape of the DataFrame: ({}, {})".format(num_rows, num_columns))

Shape of the DataFrame: (11898, 22)